.cv-text-icon {
    display: inline-block;
    font-weight: 400; /* Normal font weight as specified */
    font-size: 2rem; /* Larger font size */
    color: #23252f; /* Color of the text set to #23252f */
    background-color: #08c; /* Background color set to #08c */
    padding: 0.25em 0.4em; /* Add some padding around the text */
    border: 2px solid #08c; /* Thicker border with the background color */
    border-radius: 0.25em; /* Optional: round the corners */
    text-align: center;
    width: auto; /* Adjust width as needed */
    box-sizing: border-box;
  }
  