<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="navbar-row">
            <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                <a class="nav-link" href="{{ site.baseurl }}/">ALL</a>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/autodrive/concept/' or page.url == '/autodrive/ose/' or page.url == '/autodrive/sdcc/' or page.url == '/autodrive/lidar/'%} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('autodrive-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Autonomous Driving
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="autodrive-dropdown">
                    <a class="dropdown-item" href="{{ "/autodrive/concept" | prepend: site.baseurl }}">Concept</a>
                    <a class="dropdown-item" href="{{ "/autodrive/ose" | prepend: site.baseurl }}">Optimal State Estimation</a>
                    <a class="dropdown-item" href="{{ "/autodrive/lidar" | prepend: site.baseurl }}">Lidar</a>
                    <a class="dropdown-item" href="{{ "/autodrive/automotive" | prepend: site.baseurl }}">Automotive</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ "/autodrive/sdcc" | prepend: site.baseurl }}">Self-Driving Cars (Coursera)</a>
                </div>
            </li>

            <li class="nav-item dropdown
            {% if page.url == '/math/la/' or page.url == '/math/mfml/' or page.url == '/math/algorithm/' or page.url == '/math/ps/' or page.url == '/math/calculus/' or page.url == '/math/pb/' or page.url == '/math/game/' %} active {% endif %}">
                <a class="nav-link dropdown-toggle cursor" onclick="clickDropdown('math-dropdown')"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Math
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="math-dropdown">
                    <a class="dropdown-item" href="{{ "/math/algorithm" | prepend: site.baseurl }}">Algorithm</a>
                    <a class="dropdown-item" href="{{ "/math/ps" | prepend: site.baseurl }}">Problem Solving</a>
                    <a class="dropdown-item" href="{{ "/math/la" | prepend: site.baseurl }}">Linear Algebra</a>
                    <a class="dropdown-item" href="{{ "/math/pb" | prepend: site.baseurl }}">Probability</a>
                    <a class="dropdown-item" href="{{ "/math/calculus" | prepend: site.baseurl }}">Calculus</a>
                    <a class="dropdown-item" href="{{ "/math/game" | prepend: site.baseurl }}">Game Theory</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ "/math/mfml" | prepend: site.baseurl }}">Mathematics for machine learning (Coursera)</a>
                </div>
            </li>

            <li class="nav-item {% if page.url == '/computervision/' %} active {% endif %}">
                <a class="nav-link" href="{{ site.baseurl }}/">Computer Vision</a>
            </li>
        </ul>
    </div>
</nav>
<script>
    function clickDropdown(dropdown_id) { // TODO : Refactoring, It have to be recycling to other elements.
        var x = document.getElementById(dropdown_id);
        if (x.style.display !== "block") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
